*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}
#header {
    height: 48px;
    background-color: black; 
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}
#nav {

}
#nav li{
    display: inline-block;
    position: relative;
}
#nav > li > a {
    color: white;
}
#nav > li:hover > a{
    background-color: #ccc;
    color: #000;
}
#nav li a{
    display: inline-block;
    text-decoration: none;
    line-height: 48px;
    padding: 0 24px;
} 
#nav .subnav {
    display: none;
    position: absolute;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    top: 100%;
    left: 0;
}
#nav > li:hover .subnav {
    display: block;
}
.subnav li {
    background-color: white;
    color: #000;
    width: 150px;
}
.subnav a{
    color: black;
    display: block;
}
.subnav > li:hover {
    background-color: #ccc;
}
.search-btn {
    width: 50px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    top: 0;
}
.search-btn:hover {
    cursor: pointer;
    background-color: #f44336;
}
.search-icon {
  color: white;
}
#slider {
    position: relative;
    margin-top: 48px;
    padding-top: 50%;
    background: url(images/chicago.jpg) top center / cover no-repeat;
}
#slider .text-content {
    position: absolute;
    color: #ffffff;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#slider .text-heading {
    padding: 24px 0;
}
#content {
    width: 800px;
    margin: 0 auto;
    padding: 64px 0;
    text-align: center;
}
#content .heading {
    font-size: 30px;
    font-weight: 200;
    letter-spacing: 12px;
}
#content .subHeading {
    margin: 24px 0;
    font-size: 15px;
    color: #b1b1b1;
}
#content .theband-description {
    text-align: justify;
    line-height: 1.4;
}
#footer {

}